@import "../../scss/abstracts/breakpoints";

.team-members-section{
    .team-members-wrapper{
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        margin: 0 -10px;
    }
    .team-member-wrapper{
        width: 50%;
        padding: 0 10px;
    }
    &.has-three-columns{
        .team-member-wrapper{
            width: 31%;
        }
    }
    .team-member-image-wrapper{
        img{
            width: 100%;
            height: auto;
        }
    }
}